<?xml version='1.0' encoding='utf-8'?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "it.gruppoina.agmonza.genius"
        versionCode = "60"
        version     = "1.0.10" >
    
    <name>GENius</name>
    <description>
        Agents Training
    </description>
    <author email="dbmedia.marketing@gmail.com" href="http://www.dbmediaweb.net/">
        DBMedia
    </author>
    <content src="index.html" />
    <access origin="*" />
	<access origin="cdvfile://*" />
	<allow-navigation href="http://*/*" />
	<allow-navigation href="https://*/*" />
	<allow-navigation href="data:*" />
	<allow-navigation href="*://*/*"/>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <preference name="DisallowOverscroll" value="true" />
    <preference name="fullscreen" value="true" />
    <preference name="orientation" value="landscape" />
	<preference name="iosPersistentFileLocation" value="Library" />
	<preference name="iosExtraFilesystems" value="library-nosync,cache,bundle,root" />
	<preference name="AllowInlineMediaPlayback" value="true" />
    
	<icon src="icon.png" />
	<splash src="splash.png" />
    
	<!-- https://resizeappicon.com/ -->
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="winphone">
	</platform>
    
	<plugin name="cordova-plugin-whitelist" spec="1.2.2" />
	<plugin name="cordova-plugin-file-transfer" spec="1.5.1" />
	
    <hook type="before_build" src="scripts/build_ember_app.sh" />
</widget>
